/********************aLL Sass style*************************/
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
/**************style Welcome Page************/
.welcome {
  height: 100vh !important;
}

.welcome img {
  width: 280px;
  margin-bottom: 50px;
}

.welcome .langs a {
  width: 130px;
  margin: 0 10px;
  padding: 10px 15px;
  text-align: center;
  background: none;
  border: none;
  border-radius: 18px;
  -webkit-box-shadow: 0px 3px 5px 0px #d3d3dd;
          box-shadow: 0px 3px 5px 0px #d3d3dd;
  cursor: pointer;
  color: #000 !important;
  text-decoration: none;
}

.welcome .langs img {
  width: 30px;
  margin: 0px 5px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Support {
  background-color: #FAF9F7;
  height: 100vh;
}

.Support h5 {
  font-size: 19px !important;
}

.Support p {
  font-size: 15px !important;
}

.Support .content {
  margin-top: 30px;
}

.Support .content .Ctiket {
  margin: 25px 0;
  border-radius: 12px;
}

.Support .content .info {
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
  border-radius: 12px;
  margin-bottom: 25px;
}

.Support .content .info .date {
  border-left: 2px solid #ddd;
  padding-left: 20px;
}

.Support .content .info .date button {
  margin-left: 10px;
  border-radius: 12px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
#success .sucessbody {
  border: none !important;
}

/*import general */
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Services {
  background-color: #FAF9F7;
  height: 100vh;
}

.Services h5 {
  font-size: 19px !important;
}

.Services p {
  font-size: 15px !important;
}

.Services .content {
  margin: 30px 0;
}

.Services .content h5 {
  margin-bottom: 10px;
}

.Services .content .des a {
  text-decoration: none;
  color: #000 !important;
}

.Services .content .des a div {
  background-color: #fff;
  margin-top: 30px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px 3px #eee;
          box-shadow: 0px 0px 15px 3px #eee;
  padding: 3px;
}

.Services .content .des a div .img {
  width: 80px;
  min-height: 90px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Services .content .des a div .img img {
  width: 100%;
  margin-bottom: 10px;
}

.Services .content .des a div p {
  padding-bottom: 20px;
}

.Services .content .des a div:hover {
  opacity: .3;
}

/*Style Register*/
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Register {
  background-color: #FAF9F7;
  height: 100vh;
}

.Register h5 {
  font-size: 19px !important;
}

.Register p {
  font-size: 15px !important;
}

.Register .content {
  background: #FAF9F7;
}

.Register .head {
  padding: 30px 0;
}

.Register .head p {
  color: #5f5f5f;
}

.Register .payment h5 {
  color: #CE2E2E;
  margin-bottom: 20px;
}

.Register .payment div {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Register .payment div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.Register .payment div .checkmark {
  position: absolute;
  top: 27%;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}

.Register .payment div input:checked ~ .checkmark {
  background-color: #314055;
}

.Register .payment div .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.Register .payment div input:checked ~ .checkmark:after {
  display: block;
}

.Register a p {
  color: #000;
}

.Register a p span {
  color: #CE2E2E;
  margin-right: 10px;
  font-weight: bold;
}

.Register a .btn {
  background: #31A67A;
  color: #fff;
  padding: 5px 35px;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-bottom: 32px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Policy {
  background-color: #FAF9F7;
  height: 100vh;
}

.Policy h5 {
  font-size: 19px !important;
}

.Policy p {
  font-size: 15px !important;
}

.Policy .content {
  margin: 30px 0;
}

.Policy .content .conditions {
  padding: 30px 10px 10px 10px;
}

.Policy .content .conditions p {
  margin-bottom: 10px !important;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.modal .modal-dialog {
  height: 80vh;
}

.modal .modal-dialog .modal-content {
  border-radius: 18px;
  width: 300px;
}

.modal .modal-header {
  border-bottom: 1px solid #ddd;
}

.modal .modal-body {
  border-bottom: 1px solid #ddd;
}

.modal .modal-body h5 {
  color: #CE2E2E;
}

.modal .modal-body div {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal .modal-body div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.modal .modal-body div .checkmark {
  position: absolute;
  top: 27%;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}

.modal .modal-body div input:checked ~ .checkmark {
  background-color: #314055;
}

.modal .modal-body div .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.modal .modal-body div input:checked ~ .checkmark:after {
  display: block;
}

.modal .modal-body label {
  margin-bottom: 0;
}

.modal .modal-body label img {
  margin-left: 5px;
  width: 110px;
}

.modal .modal-footer h5 {
  color: #CE2E2E;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 10px;
}

.modal .modal-footer input {
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
}

.modal .modal-footer p {
  margin-bottom: 20px !important;
  font-size: 12px;
}

.modal .modal-footer p span {
  color: #CE2E2E;
}

.modal .modal-footer button {
  background: #31A67A;
  border: none;
  padding: 8px 35px;
  outline: none;
  cursor: pointer;
  border-radius: 18px;
  color: #fff;
  margin: 0;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.PaymentHis {
  background-color: #FAF9F7;
  height: 100vh;
}

.PaymentHis h5 {
  font-size: 19px !important;
}

.PaymentHis p {
  font-size: 15px !important;
}

.PaymentHis .content {
  margin: 30px 0;
}

.PaymentHis .content .btnn {
  padding: 5px 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #31A67A;
  color: #fff;
  margin-top: 15px;
}

.PaymentHis .content .data {
  width: 100%;
}

@media all and (max-width: 720px) {
  .PaymentHis .content .data {
    overflow: scroll;
  }
}

.PaymentHis .content .data table {
  width: 100%;
  font-size: 12px;
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
}

.PaymentHis .content .data table tr th {
  border-right: 2px solid #ddd;
  padding: 10px;
  text-align: center;
}

.PaymentHis .content .data table tr td {
  border: 2px solid #ddd;
  border-left: 0;
  padding: 10px;
  text-align: center;
}

/*import General*/
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Order {
  background-color: #FAF9F7;
  height: 100vh;
}

.Order h5 {
  font-size: 19px !important;
}

.Order p {
  font-size: 15px !important;
}

.Order .content {
  margin-top: 30px;
}

.Order .content .btn {
  border-radius: 8px;
  margin-top: 15px;
}

.Order .content .data {
  width: 100%;
}

@media all and (max-width: 720px) {
  .Order .content .data {
    overflow: scroll;
  }
}

.Order .content .data table {
  width: 100%;
  font-size: 12px;
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
}

.Order .content .data table tr th {
  border-right: 2px solid #ddd;
  padding: 10px;
  text-align: center;
}

.Order .content .data table tr td {
  border: 2px solid #ddd;
  border-left: 0;
  padding: 10px;
  text-align: center;
}

/*import globle*/
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.News {
  background-color: #FAF9F7;
  height: 100vh;
}

.News h5 {
  font-size: 19px !important;
}

.News p {
  font-size: 15px !important;
}

.News .content {
  margin-top: 30px;
}

.News .content .card {
  margin-top: 20px;
  background: #fff !important;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
  margin-bottom: 25px;
}

.News .content .card .card-header {
  background: #fff;
  border-radius: 18px;
}

.News .content .card .card-header button {
  background: #31A67A;
  color: #fff;
  border-radius: 22px;
  border: none;
  padding: 0px 15px;
}

.News .content .card .card-header span {
  font-size: 12px;
  color: #999;
}

.News .content .card .card-header p {
  font-size: 18px;
}

.News .content .card .card-body .w-100 {
  margin-bottom: 20px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
nav {
  background-color: #CE2E2E;
  color: #fff;
  padding: 10px 0px;
  font-family: SnBook;
}

nav img {
  width: 25px;
  cursor: pointer;
}

nav .backimg {
  width: 18px;
}

nav p {
  margin: 0;
}

/*import general */
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.MemberUp {
  background-color: #FAF9F7;
  height: 100vh;
}

.MemberUp h5 {
  font-size: 19px !important;
}

.MemberUp p {
  font-size: 15px !important;
}

.MemberUp .head {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.MemberUp .info div {
  margin-bottom: 20px;
}

.MemberUp .info div img {
  margin-right: 10px;
}

.MemberUp button {
  background: #CE2E2E;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  margin-top: 50px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Login {
  background-color: #FAF9F7;
  height: 100vh;
}

.Login h5 {
  font-size: 19px !important;
}

.Login p {
  font-size: 15px !important;
}

.Login .back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.Login .back img {
  width: 13px;
}

.Login .content {
  height: 100vh;
}

.Login .content img {
  width: 180px;
}

.Login .content .zoomIn {
  width: 100%;
}

.Login .content form {
  margin-top: 25px;
  width: 100%;
}

.Login .content form .log {
  position: relative;
  margin: 15px 0;
  width: 80%;
}

.Login .content form .log label {
  position: absolute;
  top: -28%;
  left: 3%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FAF9F7), color-stop(50%, #fff));
  background: linear-gradient(to bottom, #FAF9F7 50%, #fff 50%);
}

@media all and (max-width: 720px) {
  .Login .content form .log label {
    left: 9%;
  }
}

.Login .content form .log input {
  padding: 10px 15px;
  border: 1px solid #999;
  border-radius: 25px;
  width: 100%;
  outline: none;
  background-color: #fff;
}

.Login .content form .btn {
  background-color: #CE2E2E;
  color: #fff;
  border: none !important;
  outline: none;
  cursor: pointer;
  padding: 3px 20px;
  border-radius: 18px;
  margin-bottom: 20px;
}

.Login .content form a {
  color: #999 !important;
  margin-bottom: 35px;
}

.Login .content form a:nth-child(5) {
  color: #CE2E2E !important;
}

/*import general */
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.InstaFollower {
  background-color: #FAF9F7;
  height: 100vh;
}

.InstaFollower h5 {
  font-size: 19px !important;
}

.InstaFollower p {
  font-size: 15px !important;
}

.InstaFollower .content h5 {
  margin: 0;
  margin-top: 30px;
}

.InstaFollower .content p {
  margin-bottom: 30px !important;
  font-size: 15px;
  color: #999;
}

.InstaFollower .content .info {
  margin-bottom: 30px;
  width: 100%;
}

.InstaFollower .content .info div {
  padding: 12px;
  border-top-left-radius: 12px;
  padding-bottom: 15px;
  border-bottom-left-radius: 12px;
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
  background: #fff;
  width: 80%;
}

.InstaFollower .content .info div h6 {
  margin: 0;
}

.InstaFollower .content .info div h6:nth-child(1) {
  margin-right: 10px;
}

.InstaFollower .content .info div .blance {
  border-left: 1px solid #000;
  padding-left: 10px;
}

.InstaFollower .content .info div span {
  color: #CE2E2E;
}

.InstaFollower .content .info a {
  width: 30%;
}

.InstaFollower .content .info a .btn {
  background: #314055;
  border: none;
  height: 50px;
  color: #fff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
}

.InstaFollower .content .note h5 {
  margin-bottom: 20px;
}

.InstaFollower .content .note h6 {
  color: #CE2E2E;
  margin: 10px 0;
}

/*import general */
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.InstaServices {
  background-color: #FAF9F7;
  height: 100vh;
}

.InstaServices .content {
  margin: 30px 0;
}

.InstaServices .content h5 {
  margin-bottom: 40px;
}

.InstaServices .content .insta {
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  margin: 15px 0;
}

.InstaServices .content .insta h6 {
  color: #000;
  margin: 0;
}

.InstaServices .content .insta img {
  margin-right: 15px;
  width: 40px;
}

.InstaServices .content .insta .arrow {
  width: 15px;
}

/*Style Home Page*/
/*import general */
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Home {
  background-color: #FAF9F7;
  height: 100vh;
  /*style Content */
  /*Style Menu*/
}

.Home h5 {
  font-size: 19px !important;
}

.Home p {
  font-size: 15px !important;
}

.Home .info {
  padding: 30px 0 20px 0;
}

.Home .info .memberName a button {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  background: none;
  margin-top: 20px;
  border-radius: 18px;
  cursor: pointer;
}

.Home .blance div {
  border: 1px solid #fff;
  padding: 25px 15px;
  border-radius: 18px;
  position: relative;
}

.Home .blance div span {
  margin-top: 10px;
}

.Home .blance div .add {
  position: absolute;
  bottom: -13%;
}

.Home .overlay {
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

.Home .content {
  padding: 30px 0;
}

.Home .content p {
  margin: 0;
}

.Home .content p span {
  color: #CE2E2E;
}

.Home .content .des {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.Home .content .des a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: #000 !important;
}

.Home .content .des a span {
  position: absolute;
  top: 50px;
  left: 18px;
  background-color: #CE2E2E;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
}

.Home .content .des a div {
  background-color: #fff;
  margin-top: 30px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px 3px #eee;
          box-shadow: 0px 0px 15px 3px #eee;
  height: 90%;
}

.Home .content .des a div .img {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 50%;
  height: 100%;
}

.Home .content .des a div .img img {
  height: 80px;
}

@media all and (max-width: 720px) {
  .Home .content .des a div .img img {
    height: 65px;
  }
}

.Home .content .des a div p {
  padding-bottom: 25px;
}

.Home .menu {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999;
  background-image: url("../images/drawer_back.png");
  background-size: 100% 100%;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding-top: 50px;
  color: #fff;
  max-width: 350px;
  min-width: 320px;
  height: 100vh;
}

.Home .menu .logout {
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}

.Home .menu .logout p {
  margin: 0;
  padding: 0;
}

.Home .menu .logout img {
  width: 40px;
}

.Home .menu .balance {
  border-bottom: 1px solid #fff;
  padding: 15px 0;
}

.Home .menu .balance p {
  margin: 0 10px !important;
}

.Home .menu ul {
  margin-top: 30px;
}

.Home .menu ul li {
  font-size: 30px;
}

.Home .menu ul li a {
  font-size: 20px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.ForgetPass {
  background-color: #FAF9F7;
  height: 100vh;
}

.ForgetPass h5 {
  font-size: 19px !important;
}

.ForgetPass p {
  font-size: 15px !important;
}

.ForgetPass .back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.ForgetPass .back img {
  width: 13px;
}

.ForgetPass .content {
  height: 100vh;
}

.ForgetPass .content img {
  width: 180px;
}

.ForgetPass .content p {
  padding: 5px !important;
  font-size: 13px;
}

.ForgetPass .content .zoomIn {
  width: 100%;
}

.ForgetPass .content form {
  margin-top: 25px;
  width: 100%;
}

.ForgetPass .content form .log {
  position: relative;
  margin: 15px 0;
  width: 80%;
}

.ForgetPass .content form .log label {
  position: absolute;
  top: -28%;
  left: 3%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FAF9F7), color-stop(50%, #fff));
  background: linear-gradient(to bottom, #FAF9F7 50%, #fff 50%);
}

@media all and (max-width: 720px) {
  .ForgetPass .content form .log label {
    left: 9%;
  }
}

.ForgetPass .content form .log input {
  padding: 10px 15px;
  border: 1px solid #999;
  border-radius: 25px;
  width: 100%;
  outline: none;
  background-color: #fff;
}

.ForgetPass .content form .btn {
  background-color: #CE2E2E;
  color: #fff;
  border: none !important;
  outline: none;
  cursor: pointer;
  padding: 3px 20px;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 5px 30px;
  margin-top: 30px;
}

.ForgetPass .content form a {
  color: #CE2E2E !important;
  margin-bottom: 35px;
}

/*improt General style*/
/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.FeatureD {
  background-color: #FAF9F7;
  height: 100vh;
}

.FeatureD h5 {
  font-size: 19px !important;
}

.FeatureD p {
  font-size: 15px !important;
}

.FeatureD nav {
  margin-bottom: 20px;
}

.FeatureD .info {
  width: 500px;
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  border: 2px solid #ddd;
}

.FeatureD .info h5 {
  margin: 0;
}

.FeatureD .info p {
  margin-bottom: 20px !important;
  color: #999;
}

.FeatureD .info span {
  font-weight: bold;
}

.FeatureD .info div {
  margin-bottom: 10px;
}

.FeatureD .pay {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 500px;
}

.FeatureD .pay label {
  position: absolute;
  top: -28%;
  left: 3%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FAF9F7), color-stop(50%, #fff));
  background: linear-gradient(to bottom, #FAF9F7 50%, #fff 50%);
}

@media all and (max-width: 720px) {
  .FeatureD .pay label {
    left: 9%;
  }
}

.FeatureD .pay input {
  padding: 10px 15px;
  border: 1px solid #999;
  border-radius: 25px;
  width: 100%;
  outline: none;
}

.FeatureD .btn button {
  background: #31A67A;
  color: #fff;
  padding: 5px 35px;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.FeatureD .btn h6 {
  color: blue;
}

.FeatureD #success .sucessbody {
  border: none !important;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.CurrentTicket {
  background-color: #FAF9F7;
  height: 100vh;
}

.CurrentTicket h5 {
  font-size: 19px !important;
}

.CurrentTicket p {
  font-size: 15px !important;
}

.CurrentTicket .content {
  margin-top: 30px;
}

.CurrentTicket .content .Mes {
  margin-top: 20px;
}

.CurrentTicket .content .Mes textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 10px;
}

@media all and (max-width: 720px) {
  .CurrentTicket .content .Mes textarea {
    height: 110px;
  }
}

.CurrentTicket .content .Mes button {
  background: #CE2E2E;
  color: #fff;
  padding: 5px 30px;
  border: none !important;
  border-radius: 8px;
  margin: 25px 0;
  outline: none;
}

.CurrentTicket .content .preMes {
  background: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
  margin-bottom: 25px;
}

.CurrentTicket .content .preMes .head {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.CurrentTicket .content .preMes .head .date {
  color: #888;
}

.CurrentTicket .content .preMes .body {
  padding: 10px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.CreateTicket {
  background-color: #FAF9F7;
  height: 100vh;
}

.CreateTicket h5 {
  font-size: 19px !important;
}

.CreateTicket p {
  font-size: 15px !important;
}

.CreateTicket .content {
  margin: 30px 0;
}

.CreateTicket .content input {
  width: 100%;
  margin: 20px 0;
  border-radius: 12px;
}

.CreateTicket .content textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 10px;
  outline: none;
}

@media all and (max-width: 720px) {
  .CreateTicket .content textarea {
    height: 110px;
  }
}

.CreateTicket .content button {
  background: #CE2E2E;
  color: #fff;
  padding: 5px 30px;
  border: none !important;
  border-radius: 8px;
  margin: 25px 0;
  outline: none;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.CreateAccount {
  background-color: #FAF9F7;
  height: 100vh;
}

.CreateAccount h5 {
  font-size: 19px !important;
}

.CreateAccount p {
  font-size: 15px !important;
}

.CreateAccount .back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.CreateAccount .back img {
  width: 13px;
}

.CreateAccount .content {
  height: 100vh;
}

.CreateAccount .content img {
  margin-top: 250px;
  width: 180px;
}

.CreateAccount .content p {
  padding: 5px !important;
  font-size: 13px;
}

.CreateAccount .content .zoomIn {
  width: 100%;
}

.CreateAccount .content form {
  background: #FAF9F7;
  margin-top: 25px;
  width: 100%;
}

.CreateAccount .content form .log {
  position: relative;
  margin: 15px 0;
  width: 80%;
}

.CreateAccount .content form .log label {
  position: absolute;
  top: -28%;
  left: 3%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FAF9F7), color-stop(50%, #fff));
  background: linear-gradient(to bottom, #FAF9F7 50%, #fff 50%);
}

@media all and (max-width: 720px) {
  .CreateAccount .content form .log label {
    left: 9%;
  }
}

.CreateAccount .content form .log input {
  padding: 10px 15px;
  border: 1px solid #999;
  border-radius: 25px;
  width: 100%;
  outline: none;
  background-color: #fff;
}

.CreateAccount .content form .btn {
  background-color: #CE2E2E;
  color: #fff;
  border: none !important;
  outline: none;
  cursor: pointer;
  padding: 3px 20px;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 5px 30px;
  margin-top: 30px;
}

.CreateAccount .content form a {
  color: #CE2E2E !important;
  margin-bottom: 35px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.About {
  background-color: #FAF9F7;
  height: 100vh;
}

.About h5 {
  font-size: 19px !important;
}

.About p {
  font-size: 15px !important;
}

.About .content {
  margin: 30px 0;
}

.About .content p:nth-child(2) {
  padding: 40px 20px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.EditProfile {
  background-color: #FAF9F7;
  height: 100vh;
}

.EditProfile h5 {
  font-size: 19px !important;
}

.EditProfile p {
  font-size: 15px !important;
}

.EditProfile .content {
  margin: 30px 0;
}

.EditProfile .content form {
  width: 100%;
}

.EditProfile .content form label {
  font-size: 15px;
}

.EditProfile .content form .btns button {
  margin-top: 25px;
  background: none !important;
  padding: 5px 15px;
  border: 1px solid #CE2E2E;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
}

.EditProfile .content form .btns button span {
  color: #CE2E2E;
  font-weight: bold;
}

.EditProfile .content form .btn {
  background: #CE2E2E;
  color: #fff;
  margin: 30px 0;
  padding: 5px 30px;
  border-radius: 12px;
}

/*General style for All app */
/*Viraiable colors*/
/*Fonts*/
@font-face {
  font-family: SnBook;
  src: url("/src/styles/fonts/GE Snd Book.ttf");
}

/* Style Page */
/*Style Content of services (insta face twitter youtube)*/
/*Edit bootstrap Form*/
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}

/*Style Input in Registration and Login Form*/
.Currancy .modal-body {
  border-bottom: 0;
}

.Currancy .modal-body div {
  padding: 0 !important;
}

.Currancy .modal-body div .ChCurrne {
  width: 100px;
  -webkit-box-shadow: 0px 0px 5px 5px #eee;
          box-shadow: 0px 0px 5px 5px #eee;
  padding: 3px 10px !important;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 18px;
}

.Currancy .modal-body div .ChCurrne img {
  width: 30px !important;
  margin: 0;
}

.Currancy .modal-body div .ChCurrne button {
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
  min-width: 74%;
  overflow-wrap: break-word;
}
/*# sourceMappingURL=AllSass.css.map */