@import 'General';

.CreateAccount{
    @include Page();
    .back{
        position: absolute;
        top:20px;
        left:20px;
        img{
            width: 13px;
        }
    }
    .content{
        height: 100vh;
        img{
            margin-top: 250px;
            width: 180px;
        }
        p{
            padding:5px !important;
            font-size: 13px;
        }
        .zoomIn {
            width: 100%;
        }
        form{
            background:$contentColor;
            margin-top: 25px;
            width: 100%;
            .log{
                @include inputForm();
            }
            .btn{
                @include ButtonForm();
                padding: 5px 30px;
                margin-top: 30px;
             }
             a{
                color:$mainColor !important; 
                margin-bottom: 35px;
            }
        }
    }
}