/*General style for All app */

/*Viraiable colors*/
$mainColor: #CE2E2E;
$color:#fff;
$contentColor:#FAF9F7;
$shadowColor :#eee;
$buttonColor:#31A67A;
$linkColor : #000;

/*Fonts*/
@font-face{
    font-family: SnBook;
    src: url("/src/styles/fonts/GE\ Snd\ Book.ttf");
}


/* Style Page */
@mixin Page {
    background-color:$contentColor;
    height:100vh;
    h5{
        font-size: 19px !important;
    }
    p{
        font-size: 15px !important;
    }
}
//Pay Button 
@mixin PayButton {
    background: $buttonColor;
    color:#fff;
    padding:5px 35px;
    border-radius: 12px;
    border: none;
    outline: none;
}

// Check Box Function
@mixin CheckBox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 27%;
        left: 0;
        height: 20px;
        width: 20px;
        border:1px solid #000;
        border-radius: 50%;
      }
     
      input:checked ~ .checkmark{
        background-color: #314055;
      }
      .checkmark:after{
        content: "";
        position: absolute;
        display: none;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
}

/*Style Content of services (insta face twitter youtube)*/
@mixin contentStyle {
    margin:30px 0;
    h5{margin-bottom: 40px;}
    .insta{
        box-shadow: 0 0 5px 5px $shadowColor;
        background: $color;
        border-radius: 12px;
        padding: 10px;
        margin:15px 0;
        h6{color:#000;margin: 0;}
        img{
            margin-right: 15px;
            width: 40px;
        }
        .arrow{
            width: 15px;
        }
    }
}
/*Edit bootstrap Form*/
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow:none !important;
  border: 1px solid #ced4da;
  outline:none;
}


/*Style Input in Registration and Login Form*/
@mixin inputForm {
    position: relative;
    margin: 15px 0;
    width: 80%;
    label{
        position: absolute;
        top: -28%;
        left: 3%;
        @media all and (max-width:720px) {
            left:9%;
        }
        background:linear-gradient( to bottom  , #FAF9F7 50% , #fff 50%);
    }
    input{
        padding:10px 15px;
        border:1px solid #999;
        border-radius: 25px;
        width: 100%;
        outline: none;
        background-color: $color;
    }
}
// Button Form
@mixin ButtonForm {
  background-color: $mainColor;
  color:$color;
  border:none !important;
  outline: none;
  cursor: pointer;
  padding: 3px 20px;
  border-radius: 18px;
  margin-bottom: 20px;
}