/*Style Home Page*/

/*import general */
@import 'General';

.Home{
    @include Page();
    // Informations section
    .info{
        padding: 30px 0 20px 0;
        .memberName a button{
            color: $color;
            border: 1px solid $color;
            padding: 10px 20px;
            background:none;
            margin-top: 20px;
            border-radius: 18px;
            cursor: pointer;
        }
    }
    .blance{
        div{
            border:1px solid $color;
            padding: 25px 15px;
            border-radius: 18px;
            position: relative;
            span{
                margin-top:10px;
            }
            .add{
                position: absolute;
                bottom: -13%;
            }
        }
    }
    /*style Content */
    .overlay{
        width: 100%;
        height: 100vh;
        background:rgba(.8, .8, .8, .7);
        position: absolute;
        top:0;
        left: 0;
        z-index: 99;
        display: none;
    }
    .content{
        padding:30px 0;
        p {
            margin: 0;
            span{
                color:$mainColor;
            }
        }
        .col-6{
            @media all and (max-width:720px) {
                padding: 0 10px;
            }
            .des{
                width: 100%;
                padding-top: 100%;
                position: relative;
               a{
                   position: absolute;
                   top:0;
                   left: 0;
                   right: 0;
                   bottom: 0;
                   text-decoration: none;
                   color:$linkColor !important;
                   span{
                       position:absolute;
                       top:50px;
                       left: 18px;
                       background-color: $mainColor;
                       color: $color;
                       border-radius: 50%;
                       width: 22px;
                       height: 22px;
                       text-align: center;
                   }
                   div{
                       background-color: $color;
                       margin-top: 30px;
                       border-radius: 12px;
                       box-shadow: 0px 0px 15px 3px $shadowColor;
                       height: 90%;
                       .img{
                           box-shadow: none;
                           width:50%;
                           height:100%;
                           img{
                               height: 75px;
                               @media all and (max-width:999px) {
                                height: 46px;
                            }
                               @media all and (max-width:720px) {
                                height: 55px;
                            }
                           }
                       }
                        p{padding-bottom: 25px;}
                    }
                }
            }
        }
    }

    /*Style Menu*/
    .menu{
        position: absolute;
        top:0;
        left:-100%;
        z-index: 999;
        background-image: url('../images/drawer_back.png');
        background-size:100% 100%;
        background-attachment:scroll;
        background-position: center;
        overflow: hidden;
        transition: all .5s ease-in-out;
        padding-top: 50px;
        color:$color;
        min-width: 300px;
        min-height: 100vh;
        .logout{
            border-bottom: 1px solid $color;
            padding:20px 0;
            p{margin:0;padding: 0;}
            img{
                width:40px;
            }
        }
        .balance{
            border-bottom: 1px solid $color;
            padding:15px 0;
            p{margin: 0 10px !important;}
        }
       ul{
           margin-top: 30px;
            li{
                font-size:30px;
                a{
                    font-size: 20px;
                }
            }
       }
    }
}