/*import general */
@import 'General';
.InstaFollower{
    @include Page();
    .content{
        h5{
            margin:0;
            margin-top:30px;
        }
        p{
            margin-bottom: 30px !important;
            font-size: 15px;
        }
        .info{
            margin-bottom: 30px;
            width: 100%;
            div{
                padding: 12px;
                border-top-left-radius: 12px;
                padding-bottom: 15px;
                border-bottom-left-radius: 12px;
                box-shadow: 0 0 5px 5px $shadowColor;
                background: $color;
                width: 80%;
                h6{margin: 0}
                .blance{border-left: 1px solid #000;padding-left: 10px; margin-left: 80px;}
                span{color:$mainColor;}
            }
        .btn{
            background:#314055;
            border:none;
            height: 50px;
            color:$color;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            width: 20%;
        }
    }
    .note{
        h5{margin-bottom: 20px;}
        h6{
           color:$mainColor;
           margin:10px 0; 
        }
    }
    }
}