/*import general */
@import 'General';

.InstaServices{
    background-color:$contentColor;
    height:100vh;
    .content{
       @include contentStyle();
       @media all and (max-width:720px) {
        h6{
            font-size: 13px !important;
        }
       }
    }
}