@import 'General';

.Login{
    @include Page();
    .back{
        position: absolute;
        top:20px;
        left:20px;
        img{
            width: 13px;
        }
    }
    .content{
        height: 100vh;
        img{
            width: 180px;
        }
        .zoomIn {
            width: 100%;
        }
        form{
            margin-top: 25px;
            width: 100%;
            .log{
                @include inputForm();
            }
            .btn{
               @include ButtonForm();
            }
            a{
                color:#999 !important; 
                margin-bottom: 35px;
                &:nth-child(5){
                    color:$mainColor !important;
                }
            }
           
        }
    }
}