/*import General*/
@import 'General';

.Order{
    @include Page();
    .content{
        margin-top:30px;
        .btn{
            border-radius: 8px;
        }
        .data{
            width:100%;
            @media all and (max-width:720px) {
                overflow: scroll;
            }
            table{
                font-size: 12px;
                margin-top:30px;
                background: $color;
                box-shadow: 0 0 5px 5px $shadowColor;
                tr{
                    th{
                        border-right: 2px solid #ddd;
                        padding:10px;
                        text-align: center;
                    }
                    td{
                        border:2px solid #ddd;
                        border-left: 0;
                        padding:10px;
                        text-align: center;
                    }
                }
            }
        }
    }

}