@import 'General';
.modal{
    .modal-dialog{
        height: 80vh;
        .modal-content{
            border-radius: 18px;
            width: 300px;
        }
     }
     .modal-header{
         border-bottom: 1px solid #ddd;
     }
     .modal-body{
         border-bottom: 1px solid #ddd;
         h5{color:$mainColor;}
         div{
           @include CheckBox();
         }
         label{
             margin-bottom: 0;
            img{
                margin-left: 5px;
                width: 110px;
            }
         }
     }
     .modal-footer{
         h5{color: $mainColor;align-self: flex-start;margin-bottom: 10px;}
         input{
             padding:5px 15px;
             border:1px solid #000;
             border-radius: 5px;
             width: 100%;
         }
         p{
             margin-bottom: 20px !important;
             font-size: 12px;
             span{color:$mainColor;}
         }
         button{
             background:$buttonColor;
             border: none;
             padding:8px 35px;
             outline: none;
             cursor: pointer;
             border-radius: 18px;
             color:$color;
             margin: 0;
         }
     }
}
