/*Style Register*/
@import 'General';


.Register{
    @include Page();
    .head{
        padding:30px 0;
        p{
            color:#5f5f5f;
        }
    }
    .payment{
        h5{
            color:$mainColor;
            margin-bottom: 20px;
        }
        div{
            @include CheckBox();
        }
    }
    a{
        p{
            color:$linkColor;
            span{color:$mainColor; margin-right: 10px;font-weight: bold;}
        }
        .btn{
          @include PayButton();
        }
    }
   
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    [contenteditable].form-control:focus {
      box-shadow:none !important;
      border: 1px solid #ced4da;
      outline:none;
    }
}