/*import general */
@import 'General';

.Services{
    @include Page();
    .content{
        margin: 30px 0;
        h5{
            margin-bottom: 10px;
        }
       .des{
           
            a{
               
                text-decoration: none;
                color:$linkColor !important;
                div{
                    background-color: $color;
                    margin-top: 30px;
                    border-radius: 12px;
                    box-shadow: 0px 0px 15px 3px $shadowColor;
                    padding: 3px;
                    .img{
                        width: 80px;
                        min-height: 90px;
                        box-shadow:none;
                        img{
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    
                    }
                    p{
                        padding-bottom:20px;
                    }
                    &:hover{
                        opacity: .3;
                    }
                }
            }
       }
        
    }
}